/* header */

.header {
    padding-left: 60px;
    background-color: #FFFFFF;
    width: 100%;
    height: 191.72px;
    vertical-align: middle;
    position: fixed;
    position: relative; 

}

.logo-image {
    height: 90px;
    vertical-align: middle;
    display: inline-block;
}

.logo {display: inline;
width: 200px;}

/* .header-div {display: flex;
justify-content: space-between;} */

.navigation {
    display: inline-block;
    margin-left: 150px;
    vertical-align: middle;
    font-size: 20px;
    word-spacing: 50px;
}

.nav-li {
    display: inline-block;
}

.nav-text {
    vertical-align: middle;
    font-family: "Noto Serif Georgian", serif;
    font-size: 18px;
    line-height: 23.44px;
    font-weight: 700;
    color: black;
    display: inline-block;
}

.hamburgeri {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    display: none;
}

.hamburgeri span {
    height: 7px;
    width: 100%;
    background-color: rgb(236, 187, 42);
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.hamburgeri span:nth-child(1) {
    top: 25%;
    background-color: black;
}

.hamburgeri span:nth-child(2) {
    top: 50%;
    background-color: rgb(7, 202, 219);
}

.hamburgeri span:nth-child(3) {
    top: 75%;
    background-color: rgb(236, 172, 33);
}


.hamburgeri.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburgeri.active span:nth-child(2) {
    opacity: 0;
}

.hamburgeri.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.off-menu {
    background-color: rgb(221, 164, 20);
    opacity: 0.9;
    width: 100%;
    color: black;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    margin-top: 150px;
}

.off-menu.active {
    right: 0;
}